body{
  font-size: 16;
  background:#F5F5DC;
}
.container_12{
margin-top: 20px;
color: blue;
font-size: 16;
}
.wrap{
  height: 250px;
}
.wrap p{
  float: left;
  font-size: 14;
  margin-left: 210px;
  margin-top: -25px;
  /*padding-bottom: -350px;*/
  }
.wrap h1{
  font-size: 62;
padding-left: 25px;
}
.wrap img{
  width: 300px;
  height:170px;
  margin-top: -95px;
  float: right;
  padding-right: 75px;
  /*padding-left: 200px;*/
}

nav li{
  display:inline;
  margin-left: 0;margin-right: 30px;
  float: right;
  font-size: 14;
}

/*.wrap h1{
  font-size: 42;
  color: blue;
  margin-top:40px;
}
.wrap{
  height: 150px;
  background: grey;
}
.container_12{
padding: 2px;
margin-bottom: 20px;
background: pink;
}*/
/*nav li{
  float: right;

  padding-top: -30px;
  padding-right:10px;
  padding: 5px;
  margin-bottom: -50PX;
}*/
nav a{
  color:blue;
}
.main img{
 width: 250px;
 height: 200px;
 padding:5px;
}
.main h3{
  color:blue;
}
/*.footer img{
  padding:4px;
  width: 20px;
  height: 20px;
  float: right;
}
.footer{
margin-top: 30px;
padding-left: 50px;
padding-right: 50px;
  background:#1c1c1c;
  overflow: hidden;
  padding-top: 40px;
}*/

footer .foot{
  overflow: hidden;
  height: 220px;
  /*background-color:mediumpurple;*/
}
.foot img{
  padding:2px;
  width: 75px;
  height: 50px;
  float: right;
  margin-top: -50px;
}
.foot p{
  font-size:18px;
  padding-top: 30px;
  padding-left: 75px;
  color:black;
}
.foot h6{
  float: right;
  margin-top: -25px;
  font-size: 18;
}
